body {
  background-color: #f5f5f5;
  margin: 0;
}

svg {
  position: fixed;
  inset: 0;
}

.links {
  stroke: #000;
  stroke-opacity: 0.2;
}

.polygons {
  fill: none;
  stroke: #000;
}

.sites {
  fill: #000;
  stroke: #fff;
}
