:root {
  --polyhon-color: #00bcd4;
  --site-color: #ffffff10;
  --link-color: #ffffff05;
}

body {
  margin: 0;
  background-color: #181818;
}

svg {
  position: fixed;
  inset: 0;
}

.sites {
  fill: var(--site-color);
  stroke: none;
}

.links {
  stroke: var(--link-color);
}

.polygons {
  fill: none;
  stroke: var(--polyhon-color);
  stroke-opacity: 0.3;
  animation: color-hue-animation 20s infinite;
}

@keyframes color-hue-animation {
  0% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(100deg); }
  100% { filter: hue-rotate(0deg); }
}

